@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .center {
    @apply absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]
  }
  .centerx {
    @apply absolute left-[50%] -translate-x-[50%]
  }
  .centery {
    @apply absolute top-[50%] -translate-y-[50%]
  }
  .text-balance {
    text-wrap: balance;
  }
}
